body {
    background: #d2d2c1 url('imagens/fundo.png');
    font-family: 'Times New Roman', Times, serif;

}

.italico {
    font-style: italic;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: auto;
    font-size: 25px;
}

.centralizar {
    max-width: auto;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bordas {
    border: 30px #CA6B41 solid;
    text-align: center;
}

.conteudo {
    border: 50px #CA6B41 solid;
    padding: 300px;
    margin: auto;
    width: 5px;
}

tr {
    text-align: center;
}

table {
    width: 100%;
}
.esqueda{
    width: 90%;
}
